@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-color: #000000;
  --secondary-color: #213284;
  --text-color: #000000;
  --light-text: #4a5568;
  --lightest-text: #718096;
  --background-color: #ffffff;
  --light-bg: #f7fafc;
  --border-color: #000000;
  --font-main: "Poppins", sans-serif;
  --section-spacing: 10px;
  --left-margin: 15px;
  --bottom-margin: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  body {
    margin: 0 !important;
    padding: 0 !important;
    background: --background-color !important;
  }

  .resume-container {
    background: var(--background-color);
    box-shadow: none !important;
  }
}

body {
  font-family: var(--font-main);
  font-size: 12px;
  text-align: justify;
  color: var(--text-color);
  background: var(--light-bg);
  line-height: 1.5;
  width: 100%;
  height: 100%;
}

.resume-container {
  margin: 0 auto;
  background: var(--background-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 0.5in;
  width: 210mm;
  max-height: 297mm;
  overflow: hidden;
}

/* Header section */
.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.profile-figure {
  display: inline-block;
  overflow: hidden;
  margin: auto;
}

.profile-image {
  border-radius: 5%;
  border: 1px solid var(--border-color);
  width: 90px;
  height: 90px;
  margin-top: 4px;
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 100px);
  padding-left: 20px;
}

.name {
  font-size: 18px;
  font-weight: normal;
  color: var(--primary-color);
  letter-spacing: 1.4px;
}

.title {
  font-size: 18px;
  font-weight: normal;
  color: var(--secondary-color);
  letter-spacing: 1.4px;
}

.contact-info {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  row-gap: 5px;
  list-style: none;
  margin-top: 5px;
}

.contact-item {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.contact-item ion-icon {
  font-size: 14px;
  margin-right: 5px;
  color: var(--primary-color);
}

/* Both Experience and Education */
section {
  margin: var(--section-spacing) 0;
}

.section-title {
  font-weight: bold;
  font-size: 16px;
  color: var(--secondary-color);
  text-transform: uppercase;
  margin-bottom: var(--bottom-margin);
  letter-spacing: 1.4px;
  border-bottom: 1px solid var(--border-color);
}

.item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location,
.date {
  display: inline-block;
}

.experience .item:not(:last-child),
.education .item:not(:last-child) {
  margin-bottom: 5px;
}

/* Experience */
.position {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.company {
  font-size: 14px;
  font-weight: bold;
}

.company-header {
  margin-bottom: var(--bottom-margin);
  padding-bottom: 0px;
  border-bottom: 1px solid var(--lightest-text);
}

.tech-stack {
  font-weight: normal;
  color: var(--light-text);
  padding: 2px 0;
}

.position-entry {
  margin-left: var(--left-margin);
}

.italic {
  font-style: italic;
  margin-right: 2px;
}

.responsibilities {
  margin-left: calc(var(--left-margin) * 2);
}

/* Education */
.institution {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.degree {
  font-weight: normal;
  font-size: 12px;
  margin-left: var(--left-margin);
}
