@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #000000;
  --secondary-color: #213284;
  --text-color: #000000;
  --light-text: #4a5568;
  --lightest-text: #718096;
  --background-color: #ffffff;
  --light-bg: #f7fafc;
  --border-color: #000000;
  --font-main: "Inter", sans-serif;
  --section-spacing: 10px;
  --left-margin: 15px;
  --bottom-margin: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  body {
    margin: 0 !important;
    padding: 0 !important;
    background: --background-color !important;
  }

  .resume-container {
    background: var(--background-color);
    box-shadow: none !important;
  }
}

body {
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: 400;
  text-align: justify;
  color: var(--text-color);
  background: var(--light-bg);
  line-height: 1.5;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: 600;
}

.resume-container {
  margin: 0 auto;
  background: var(--background-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 0.5in;
  width: 210mm;
  max-height: 297mm;
  overflow: hidden;
}

/* Header section */
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-name-title {
  display: flex;
  flex-direction: column;
}

.profile-figure {
  flex-shrink: 0; /* prevent the image from being squeezed */
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

.profile-image {
  border-radius: 5%;
  border: 1px solid var(--border-color);
  width: 45px;
  height: 45px;
  margin-top: 5px;
}

.name {
  font-size: 20px;
  font-weight: normal;
  color: var(--primary-color);
  letter-spacing: 1.4px;
}

.title {
  font-size: 20px;
  font-weight: normal;
  color: var(--secondary-color);
  letter-spacing: 1.4px;
}

.contact-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 5px;
  list-style: none;
  margin-top: 10px;
  width: 100%;
}

.contact-item {
  display: flex;
  align-items: center;
  color: var(--text-color);
  white-space: nowrap; /* prevent text wrapping within an item */
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
}

.contact-item ion-icon {
  font-size: 12px;
  margin-right: 5px;
  color: var(--primary-color);
}

/* Both Experience and Education */
section {
  margin: var(--section-spacing) 0;
}

.section-title {
  font-weight: bold;
  font-size: 16px;
  color: var(--secondary-color);
  text-transform: uppercase;
  margin-bottom: var(--bottom-margin);
  letter-spacing: 1.4px;
  border-bottom: 1px solid var(--border-color);
}

.item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location,
.date {
  display: inline-block;
}

.experience .item:not(:last-child) {
  margin-bottom: 10px;
}

/* Experience */
.position {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.company {
  font-size: 14px;
  font-weight: bold;
}

.company-header {
  margin-bottom: 5px;
  padding-bottom: 0px;
  border-bottom: 1px solid var(--lightest-text);
}

.tech-stack {
  font-size: 10px;
  font-weight: normal;
  color: var(--light-text);
  padding: 2px 0;
}

.position-entry {
  margin-top: 5px;
  margin-left: 10px;
}

.italic {
  font-style: italic;
  margin-right: 2px;
}

.responsibilities {
  margin-left: 20px;
}

/* Education */
.institution {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.degree {
  font-weight: normal;
  font-size: 12px;
  margin-left: 10px;
}

.education .item:not(:last-child) {
  margin-bottom: 3px;
}
