<!doctype html>
<html lang="{{language}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{basic.name}} - Curriculum</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <script
      type="module"
      src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/7.1.0/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/7.1.0/ionicons/ionicons.js"
    ></script>
  </head>

  <body>
    <div class="resume-container">
      <header class="header">
        <div class="header-top">
          <div class="header-name-title">
            <h1 class="name">{{basic.name}}</h1>
            <h2 class="title">{{lookup basic "title" language}}</h2>
          </div>
          {{#if basic.profileImage}}
          <figure class="profile-figure">
            <img src="{{basic.profileImage}}" alt="{{basic.name}}" class="profile-image" />
          </figure>
          {{/if}}
        </div>
        <div class="contact-info">
          {{#each basic.contactInfo}} {{#if (eq type "email")}}
          <div class="contact-item">
            <ion-icon name="{{getIcon type}}"></ion-icon>
            <span>{{value}}</span>
          </div>
          {{/if}} {{/each}} {{#each basic.contactInfo}} {{#if (eq type "github")}}
          <div class="contact-item">
            <ion-icon name="{{getIcon type}}"></ion-icon>
            <span>{{value}}</span>
          </div>
          {{/if}} {{/each}} {{#each basic.contactInfo}} {{#if (eq type "linkedin")}}
          <div class="contact-item">
            <ion-icon name="{{getIcon type}}"></ion-icon>
            <span>{{value}}</span>
          </div>
          {{/if}} {{/each}}
          <div class="contact-item">
            <ion-icon name="{{getIcon 'location'}}"></ion-icon>
            <span>{{lookup basic "location" language}}</span>
          </div>
          {{#each basic.contactInfo}} {{#if (eq type "phone")}}
          <div class="contact-item">
            <ion-icon name="{{getIcon type}}"></ion-icon>
            <span>{{value}}</span>
          </div>
          {{/if}} {{/each}}
        </div>
      </header>

      <section class="experience">
        <h2 class="section-title">{{lookup (lookup metadata.sections language) "experience"}}</h2>
        {{#each experience}}
        <article class="item">
          <div class="item-header company-header">
            <h3 class="company">{{lookup company ../language}}</h3>
            <p class="location">{{lookup location ../language}}</p>
          </div>
          {{#each positions}}
          <div class="position-entry">
            <div class="item-description">
              <h4 class="position">{{lookup position ../../language}}</h4>
              <p class="date">
                {{lookup date.start ../../language}} — {{lookup date.end ../../language}}
              </p>
            </div>
            {{#if techStack}}
            <p class="tech-stack">
              <span class="italic">Tech Stack:</span> {{join techStack ", "}}
            </p>
            {{/if}}
            <ul class="responsibilities">
              {{#each (lookup responsibilities ../../language)}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </div>
          {{/each}}
        </article>
        {{/each}}
      </section>
      <section class="education">
        <h2 class="section-title">{{lookup metadata.sections language "education"}}</h2>

        {{#each education}}
        <article class="item">
          <div class="item-header">
            <h3 class="institution">{{lookup institution ../language}}</h3>
            <p class="location">{{lookup location ../language}}</p>
          </div>
          <div class="item-description">
            <h3 class="degree">{{lookup degree ../language}}</h3>
            <p class="date">
              {{#if date.start}}{{lookup date.start ../language}}{{/if}}{{#if date.end}} — {{lookup
              date.end ../language}}{{/if}}
            </p>
          </div>
        </article>
        {{/each}}
      </section>
    </div>
  </body>
</html>
